.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.grid-striped .row:not(.bridge_detail):nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

div.alert {
    cursor: pointer;
    margin-bottom: 0rem;
}

.input-group > .DayPickerInput {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
